*{
    font-size: 18px;
  
}
#header-img{
width: 45%;
}
#header{
    align-items: center;
}

#titulo{
    font: bold;
    font-size: 30px !important;
    font-family: cursive;
    align-items: center;
}

.vl {
  border-left:  solid black;
  height: auto;

}
.container{
    justify-content: center !important;
}
